<a href="https://colab.research.google.com/github/imabu/ifmo_webmining_2020/blob/master/WebData2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Вася хочет минимизировать вес продуктов и для этого брать самые калорийные продукты. **Помогите ему и упорядочите продукты по убыванию калорийности. В случае, если продукты имеют одинаковую калорийность - упорядочите их по названию**. В качестве ответа необходимо сдать названия продуктов, по одному в строке.

In [0]:
df = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking1.xlsx', sheet_name='Справочник', index_col=False)
df.head(5)
df = df.rename(columns={'Unnamed: 0': 'Название'})

In [0]:
# замена NaN на 0
df= df.fillna(0)
df.head(5)

                            Название  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0

In [0]:
df.sort_values(['ККал на 100', 'Название'], ascending=(False, True))['Название']

14                   Шоколад молочный какао
15                 Шоколад молочный миндаль
0                                Сухофрукты
35            Омлет с копченостями галагала
26                   Свинина сублимрованная
16                      Шоколад ремесленный
13                     Козинак подсолнечный
34                 Омлет с грибами галагала
12                       Козинак арахисовый
21                 Хлебцы льняные "Тайские"
3         Колбаса с/к "Еврейская полусухая"
25                  Говядина сублимрованная
20              Сухарики ржаные с семечками
22                   Хлебцы льняные Морские
30        Суп говяжий с картофелем галагала
4              Суп гороховый с копченостями
31    Суп гороховый с копченостями галагала
29        Суп куриный с картофелем галагала
28                       Суп-гуляш галагала
32                       Суп-харчо "Острый"
17                              Сыр Маасдам
19                               Сыр Чеддер
27                 Борщ Московский Галагала
9                           Крупа гречневая
8                    Рис пропаренный Увелка
7                          Свинина Кронидов
11               Сухарики ржаные Finn Crisp
10                          Капеллини Макфа
18                                Сыр Гауда
36                                  Кус Кус
1                              Каша Быстров
33                        Картофель сушеный
6                         Говядина Кронидов
24                Хлебцы с чесноком и луком
5                      Суп томатный с рисом
2                       Балык "Королевский"
23                                  Паутина
Name: Название, dtype: object

Вася составил раскладку по продуктам на один день (она на листе "Раскладка") с указанием названия продукта и его количества в граммах. **Посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел**

In [0]:
ref = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx', sheet_name='Справочник', index_col=False)
ref = ref.rename(columns={'Unnamed: 0': 'Продукт'}).fillna(0)
ref.head(5)

                             Продукт  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0

In [0]:
amount_of_products = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx', sheet_name='Раскладка', index_col=False)
amount_of_products.head(5)

                        Продукт  Вес в граммах
0      Омлет с грибами галагала             60
1                   Сыр Маасдам             80
2        Хлебцы льняные Морские             55
3  Суп гороховый с копченостями             44
4        Хлебцы льняные Морские             55

In [0]:
joined = ref.join(amount_of_products.set_index('Продукт'), how='inner', on='Продукт')

In [0]:
sum(joined['ККал на 100'] * joined['Вес в граммах'] / 100)

4963.849999999999

In [0]:
sum(joined['Б на 100'] * joined['Вес в граммах'] / 100)

203.16999999999996

In [0]:
sum(joined['Ж на 100'] * joined['Вес в граммах'] / 100)

307.4

In [0]:
sum(joined['У на 100'] * joined['Вес в граммах'] / 100)

302.15

Вася составил раскладку по продуктам на весь поход (она на листе "Раскладка") с указанием номера дня, названия продукта и его количества в граммах. **Для каждого дня посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов**. Числа округлите до целых вниз и введите через пробел. Информация о каждом дне должна выводиться в отдельной строке.

In [4]:
file_src = 'https://stepik.org/media/attachments/lesson/245290/trekking3.xlsx'

ref = pd.read_excel(file_src, sheet_name='Справочник', index_col=False)
ref = ref.rename(columns={'Unnamed: 0': 'Продукт'}).fillna(0)
amount_of_products = pd.read_excel(file_src, sheet_name='Раскладка', index_col=False)
amount_of_products.head(5)

   День                   Продукт  Вес в граммах
0     1    Рис пропаренный Увелка            160
1     1          Свинина Кронидов            250
2     1  Хлебцы льняные "Тайские"            110
3     1       Балык "Королевский"             50
4     1    Шоколад молочный какао             55

In [8]:
joined = ref.join(amount_of_products.set_index('Продукт'), how='inner', on='Продукт')
joined['ККал'] = joined['ККал на 100'] * joined['Вес в граммах'] / 100
joined['Б'] = joined['Б на 100'] * joined['Вес в граммах'] / 100
joined['Ж'] = joined['Ж на 100'] * joined['Вес в граммах'] / 100
joined['У'] = joined['У на 100'] * joined['Вес в граммах'] / 100
joined.head(5)

      Продукт  ККал на 100  Б на 100  Ж на 100  ...   ККал     Б     Ж     У
0  Сухофрукты        548.0      12.8      40.8  ...  822.0  19.2  61.2  48.6
0  Сухофрукты        548.0      12.8      40.8  ...  822.0  19.2  61.2  48.6
0  Сухофрукты        548.0      12.8      40.8  ...  822.0  19.2  61.2  48.6
0  Сухофрукты        548.0      12.8      40.8  ...  822.0  19.2  61.2  48.6
0  Сухофрукты        548.0      12.8      40.8  ...  822.0  19.2  61.2  48.6

[5 rows x 11 columns]

In [9]:
joined.groupby('День').agg({'ККал':'sum', 'Б':'sum', 'Ж':'sum', 'У':'sum'})

         ККал        Б       Ж        У
День
1     2405.75   82.550  154.65  172.100
2     4963.85  203.170  307.40  302.150
3     5219.70  178.770  267.39  502.814
4     4873.15  241.138  204.65  537.856
5     5278.40  243.440  314.68  367.416
6     4451.70  190.530  188.35  497.450
7     4806.60  205.838  265.83  386.586
8     5738.75  264.930  195.39  720.130
9     1766.40   66.840   90.64  171.200

In [14]:
zip_url = 'https://stepik.org/media/attachments/lesson/245299/rogaikopyta.zip'
!wget $zip_url

--2020-04-19 16:30:20--  https://stepik.org/media/attachments/lesson/245299/rogaikopyta.zip
Resolving stepik.org (stepik.org)... 13.69.75.239
Connecting to stepik.org (stepik.org)|13.69.75.239|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4351170 (4.1M) [application/zip]
Saving to: ‘rogaikopyta.zip’

rogaikopyta.zip     100%[===================>]   4.15M  2.56MB/s    in 1.6s

2020-04-19 16:30:23 (2.56 MB/s) - ‘rogaikopyta.zip’ saved [4351170/4351170]

In [0]:
zip_filename = 'rogaikopyta.zip'

In [0]:
from zipfile import ZipFile
import xlrd 
import io

employers = []

with ZipFile(zip_filename) as zip_file:
  for filename in zip_file.namelist():
    content = zip_file.read(filename)
    wb = xlrd.open_workbook(file_contents=content)
    sheet = wb.sheet_by_index(0)
    name = sheet.cell_value(1, 1)
    salary = int(sheet.cell_value(1, 3))    
    employers.append([name, salary])


employers_df = pd.DataFrame(employers, columns=['Name', 'Salary'])

In [27]:
employers_df.head(5)

                            Name  Salary
0   Сидоров Михаил Александрович   49259
1  Дмитриев Александр Васильевич  160242
2    Васильев Алексей Михайлович  153668
3         Сергеев Михаил Львович  198693
4         Дмитриев Сидор Львович   11623

In [28]:
employers_df.sort_values(by='Name')

                                    Name  Salary
301  Александров Александр Александрович   19279
295     Александров Александр Алексеевич  111877
285     Александров Александр Васильевич  121425
308     Александров Александр Дмитриевич   47073
931       Александров Александр Иванович   98888
..                                   ...     ...
604                Сидоров Сидор Львович   93196
826             Сидоров Сидор Михайлович  153252
49                Сидоров Сидор Петрович   46026
337              Сидоров Сидор Сергеевич  108788
699              Сидоров Сидор Сидорович  130081

[1000 rows x 2 columns]