<a href="https://colab.research.google.com/github/imabu/ifmo_webmining_2020/blob/master/WebData2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

Вася хочет минимизировать вес продуктов и для этого брать самые калорийные продукты. **Помогите ему и упорядочите продукты по убыванию калорийности. В случае, если продукты имеют одинаковую калорийность - упорядочите их по названию**. В качестве ответа необходимо сдать названия продуктов, по одному в строке.

In [0]:
df = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking1.xlsx', sheet_name='Справочник', index_col=False)
df.head(5)
df = df.rename(columns={'Unnamed: 0': 'Название'})

In [16]:
# замена NaN на 0
df= df.fillna(0)
df.head(5)

                            Название  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0

In [18]:
df.sort_values(['ККал на 100', 'Название'], ascending=(False, True))['Название']

14                   Шоколад молочный какао
15                 Шоколад молочный миндаль
0                                Сухофрукты
35            Омлет с копченостями галагала
26                   Свинина сублимрованная
16                      Шоколад ремесленный
13                     Козинак подсолнечный
34                 Омлет с грибами галагала
12                       Козинак арахисовый
21                 Хлебцы льняные "Тайские"
3         Колбаса с/к "Еврейская полусухая"
25                  Говядина сублимрованная
20              Сухарики ржаные с семечками
22                   Хлебцы льняные Морские
30        Суп говяжий с картофелем галагала
4              Суп гороховый с копченостями
31    Суп гороховый с копченостями галагала
29        Суп куриный с картофелем галагала
28                       Суп-гуляш галагала
32                       Суп-харчо "Острый"
17                              Сыр Маасдам
19                               Сыр Чеддер
27                 Борщ Московский Галагала
9                           Крупа гречневая
8                    Рис пропаренный Увелка
7                          Свинина Кронидов
11               Сухарики ржаные Finn Crisp
10                          Капеллини Макфа
18                                Сыр Гауда
36                                  Кус Кус
1                              Каша Быстров
33                        Картофель сушеный
6                         Говядина Кронидов
24                Хлебцы с чесноком и луком
5                      Суп томатный с рисом
2                       Балык "Королевский"
23                                  Паутина
Name: Название, dtype: object

Вася составил раскладку по продуктам на один день (она на листе "Раскладка") с указанием названия продукта и его количества в граммах. **Посчитайте 4 числа: суммарную калорийность и граммы белков, жиров и углеводов. Числа округлите до целых вниз и введите через пробел**

In [28]:
ref = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx', sheet_name='Справочник', index_col=False)
ref = ref.rename(columns={'Unnamed: 0': 'Продукт'}).fillna(0)
ref.head(5)

                             Продукт  ККал на 100  Б на 100  Ж на 100  У на 100
0                         Сухофрукты        548.0      12.8      40.8      32.4
1                       Каша Быстров        334.0       8.6       4.8      64.0
2                Балык "Королевский"        170.0      25.0       8.0       0.0
3  Колбаса с/к "Еврейская полусухая"        481.0      19.0      45.0       0.0
4       Суп гороховый с копченостями        390.0      16.0      11.0      52.0

In [23]:
amount_of_products = pd.read_excel('https://stepik.org/media/attachments/lesson/245290/trekking2.xlsx', sheet_name='Раскладка', index_col=False)
amount_of_products.head(5)

                        Продукт  Вес в граммах
0      Омлет с грибами галагала             60
1                   Сыр Маасдам             80
2        Хлебцы льняные Морские             55
3  Суп гороховый с копченостями             44
4        Хлебцы льняные Морские             55

In [0]:
joined = ref.join(amount_of_products.set_index('Продукт'), how='inner', on='Продукт')

In [34]:
sum(joined['ККал на 100'] * joined['Вес в граммах'] / 100)

4963.849999999999

In [35]:
sum(joined['Б на 100'] * joined['Вес в граммах'] / 100)

203.16999999999996

In [36]:
sum(joined['Ж на 100'] * joined['Вес в граммах'] / 100)

307.4

In [37]:
sum(joined['У на 100'] * joined['Вес в граммах'] / 100)

302.15